############################
# IntelliJ IDEA
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# Spring Boot
############################
**/target/

############################
# Maven
############################
.mvn/timing.properties

############################
# Logs
############################
*.log

############################
# React
############################
**/node_modules/
**/dist/

############################
# Environment Variables
############################
.env
.env.*
!.env.example

############################
# Operating System Files
############################
.DS_Store
Thumbs.db

############################
# Temporary Files
############################
*.tmp
*.swp

############################
# Package Managers
############################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*